* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
}

.ImagemRepresentativa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.identificacao {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-top: 24px
}

.logo {
    width: 90px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
}