:root {

    --card-border: rgba(255, 255, 255, 0.1);
    --shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3), 0 8px 10px -6px rgba(0, 0, 0, 0.3);

}

.ImagensRepresentativas {
    width: 1300px;
    height: 400px;
    margin: auto 100px auto;
}